	<div class="img">
	<img src="/assets/img/burger1.png" height="100px">
	</div>
	<h1>EAT DA BURGER</h1>


<div class="burger">
	<div class="left">
		<ul>
			{{#each burgers}}
				{{#unless devoured}}
					{{>burgers/burger-block devour=true}}
				{{/unless}}
			{{/each}}
		</ul>
	</div>
	<div class="right">
		

		<ul>
			
			{{#each burgers}}
				{{#if devoured}}
					{{>burgers/burger-block devour=false}}
				{{/if}}
			{{/each}}
		</ul>

	</div>
	</div>
	<div class="add">
	<h2>Add a Burger</h2>
		<form class="create-form">

			<div class="form-group">
				<label for="burg"></label>
				<input type="text" id="burg" name="burger_name" size="50">
			</div>
			<button type="submit">Add Burger</button>
		</form>
		<p>Enter a Burger you want to eat then Click the "Submit" button.</p>
	</div>
	

